@model MisMinistritosUNED.Models.ProveedorModel

@{
    ViewData["Title"] = "Borrar Proveedor";
}

<h1>¿Desea borrar este proveedor?</h1>
<hr />
<div>    
    <dl class="row">
        <dt class = "col-sm-2">
            <label class="control-label">Cédula</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cedula)
        </dd>
        <dt class = "col-sm-2">
            <label class="control-label">Descripción</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
    </dl>
    <hr />
    <form asp-action="Delete" asp-route-cedula="@Model.cedula">
        <input type="submit" value="Borrar Proveedor" class="btn btn-danger" /> |
        <a asp-action="List">Volver a la lista</a>
    </form>
</div>
<script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>
